.grid{
    width: 250px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;

}

.grid div{
    width: 20px;
    height: 20px;

}

.snake{
    background-color: blue;
}
.apple{
    background-color: purple;
}
div{
    border-style: solid;
}